<div style="margin: 10px; width:990px">
	<div class="navbar">
		<a href="#!/home"><img src="imgs/header_logo_500.png" style="height:100px"/></a>
		<!-- <div style="margin:5px;float: right !important">
			<img ng-class="selectedCard.cardType"/>
		</div> -->
	</div>
	<!-- start of nav links -->
	<div style="float: left; ;">
		<ul class="menu">
			<li><a href="#!/home">Home</a></li>
			<li><a href="#!/globalRegion1">ACME (NA Global)</a></li>
			<li><a href="#!/globalRegion2">ECOMM (NA Global)</a></li>
		</ul>
	</div>
	<!-- end of nav links -->
	<div>
		<div class="well well-lg">
			<h2>ACME (NA Global)</h2>

			<div width="200px">
				<!-- SETTINGS FORM -->
				<h3>Send command:</h3>
				<form class="form-horizontal" ng-submit="submitSettings()" role="form">
					<div class="form-group">
						<label for="accountId" class="col-sm-3 control-label">AccountId</label>
						<div class="col-sm-6">
							<input type="text" id="accountId" class="form-control" ng-model="account.accountId"/>
						</div>
					</div>
					<div class="form-group">
						<label for="payload" class="col-sm-3 control-label">Payload</label>
						<div class="col-sm-6">
							<input type="text" id="payload" class="form-control" ng-model="account.payload"/>
						</div>
						<div class="col-sm-3"></div>
					</div>
					<input type="button" value="Submit" ng-click="sendCommand()"
						   class="btn btn-primary col-sm-offset-3"/>
				</form>
				<!-- END SETTINGS FORM -->
			</div>

			<!-- BEGIN TABLE -->
			<h3>Notifications received</h3>
			<div class="vspace">&nbsp;</div>
			<table width="100%">
				<tr>
					<!-- <th>Id</th> -->
					<th>Id</th>
					<th>Payload</th>
					<th>Region</th>
				</tr>
				<tr ng-repeat="item in notificationsGlobalRegion1" ng-click="setSelectedRow($index)"
					ng-class="{'selected':$index == selectedRow}">
					<td>{{item.accountId}}</td>
					<td>{{item.payload}}</td>
					<td>{{item.region}}</td>
				</tr>
			</table>
			<!-- END TABLE -->
		</div>

	</div>

</div>