<div style="margin: 10px; width:990px">
    <div class="navbar">
        <a href="#!/home"><img src="imgs/header_logo_500.png" style="height:100px"/></a>
        <!-- <div style="margin:5px;float: right !important">
            <img ng-class="selectedCard.cardType"/>
        </div> -->
    </div>

    <div>
        <div class="panel panel-primary">
            <div width="200px">
                <div class="panel-heading"><h4 class="panel-title">Send Notification:</h4></div>
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="accountId" class="col-sm-3 control-label">AccountId</label>
                            <div class="col-sm-6">
                                <input type="text" id="accountId" class="form-control" ng-model="account.accountId"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="payload" class="col-sm-3 control-label">Payload</label>
                            <div class="col-sm-6">
                                <input type="text" id="payload" class="form-control" ng-model="account.payload"/>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <input type="button" value="Submit Local" ng-click="sendCommand('local')"
                               class="btn btn-primary"/>
                        <small>Address: {{partnerMetadata.localCommandAddress}}&nbsp;</small>
                        <input type="button" value="Submit Remote" ng-click="sendCommand('remote')"
                               class="btn btn-primary"/>
                        <small>Address: {{partnerMetadata.globalCommandAddress}}&nbsp;</small>
                    </form>
                </div>
                <!-- END SETTINGS FORM -->
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading"><h4 class="panel-title">Received notifications</h4></div>

            <div class="panel-body">


                <div class="col-sm-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Global&nbsp;</h4>
                            <small>
                                {{partnerMetadata.connectionUrl}}/<b>{{partnerMetadata.globalNotificationAddress}}</b>
                            </small>
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="pre-scrollable">
                                <tr>
                                    <!-- <th>Id</th> -->
                                    <th>Id</th>
                                    <th>Payload</th>
                                    <th>Region</th>
                                </tr>
                                <tr ng-repeat="item in notificationsGlobal" ng-class="{'selected':$last}"
                                    ng-click="clearSelection($event)">
                                    <td>{{item.accountId}}</td>
                                    <td>{{item.payload}}</td>
                                    <td>{{item.region}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Local&nbsp;</h4>
                            <small>
                                {{partnerMetadata.connectionUrl}}/<b>{{partnerMetadata.localNotificationAddress}}</b>
                            </small>
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="pre-scrollable">
                                <tr>
                                    <!-- <th>Id</th> -->
                                    <th>Id</th>
                                    <th>Payload</th>
                                    <th>Region</th>
                                </tr>
                                <tr ng-repeat="item in notificationsLocal" ng-class="{'selected':$last}"
                                    ng-click="clearSelection($event)">
                                    <td>{{item.accountId}}</td>
                                    <td>{{item.payload}}</td>
                                    <td>{{item.region}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- END TABLE -->

            </div>

        </div>
    </div>
</div>