
<div style="margin: 10px; width:990px">
  <div class="navbar">
    <a href="#!/home"><img src="imgs/header_logo_500.png" style="height:100px"/></a>
    <!-- <div style="margin:5px;float: right !important"><img ng-class="selectedCard.cardType"/></div> -->
  </div>     

  
  <!-- THIS IS THE PRIMARY CONTENT FOR THE HOME PAGE-->

    <div>
        <div class="well well-lg">
            <div width="200px">
                <!-- SETTINGS FORM -->
                <h3>Send Notification:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="accountId" class="col-sm-3 control-label">AccountId</label>
                        <div class="col-sm-6">
                            <input type="text" id="accountId" class="form-control" ng-model="account.accountId"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="payload" class="col-sm-3 control-label">Payload</label>
                        <div class="col-sm-6">
                            <input type="text" id="payload" class="form-control" ng-model="account.payload"/>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <input type="button" value="Send to NAM" ng-click="sendNotification('NAM')"
                           class="btn btn-primary"/>
                    <input type="button" value="Send to APAC" ng-click="sendNotification('APAC')"
                           class="btn btn-primary"/>
                </form>
                <!-- END SETTINGS FORM -->
            </div>
        </div>

        <div class="col-sm-12">
            <h2>Received commands</h2>
        </div>
    <div class="col-sm-6">
    <h3>NAM Core</h3>
    <div class="vspace">&nbsp;</div>
    <table width="100%">
        <tr>
            <!-- <th>Id</th> -->
            <th>Id</th>
            <th>Payload</th>
            <th>Partner</th>
            <th>Region</th>
            <th>Type</th>
            <th>Connection</th>
        </tr>
        <tr ng-repeat="item in commandsRegion1" ng-class="{'selected':$last}" ng-click="clearSelection($event)">
            <td>{{item.accountId}}</td>
            <td>{{item.payload}}</td>
            <td>{{item.partner}}</td>
            <td>{{item.region}}</td>
            <td>{{item.type}}</td>
            <td>{{item.connection}}</td>
        </tr>
    </table>
    </div>

    <div class="col-sm-6">
        <!-- BEGIN TABLE -->
        <h3>APAC Core</h3>
        <div class="vspace">&nbsp;</div>
        <table width="100%">
            <tr>
                <!-- <th>Id</th> -->
                <th>Id</th>
                <th>Payload</th>
                <th>Partner</th>
                <th>Region</th>
                <th>Type</th>
                <th>Connection</th>
            </tr>
            <tr ng-repeat="item in commandsRegion2" ng-class="{'selected':$last}" ng-click="clearSelection($event)">
                <td>{{item.accountId}}</td>
                <td>{{item.payload}}</td>
                <td>{{item.partner}}</td>
                <td>{{item.region}}</td>
                <td>{{item.type}}</td>
                <td>{{item.connection}}</td>
            </tr>
        </table>
        <!-- END TABLE -->
    </div>
    </div>
</div>